/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    color: #333;
    line-height: 1.6;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

header h1 {
    font-size: 2.5rem;
}

header p {
    font-size: 1.2rem;
}

section {
    padding: 20px;
    margin: 20px 0;
}

.timeline {
    background-color: #fff;
    padding: 60px 20px;
    text-align: center;
}

.timeline-item {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
    padding: 10px 20px;
    border-left: 2px solid #ff5c8e;
    position: relative;
}

.timeline-item .timeline-date {
    font-size: 1.5rem;
    color: #ff5c8e;
    margin-right: 20px;
}

.timeline-item .timeline-content {
    max-width: 600px;
    background: #f7b731;
    color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.timeline h2 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: #333;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
}

footer p {
    font-size: 1rem;
}

